body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('super.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter:blur(4px) grayscale(25%);
  background-position: center;
  background-attachment: fixed;

}
h1 {
  font-family: sans-serif;
  opacity: 1;
}

li {
  list-style: none;

}

.container {
  text-align: center;
  padding: 30px;
  opacity: 0.85;
}

.form{
  text-align: center;
}

.input {
  border-radius: 3px;
  background: #eee;
  border: 2px solid #ccc;
  padding: 6px 8px;
  text-align: center;
  color: #666;
}

.mensaje {
  color: red;
  font-size: 12px;
  font-weight: bolder;
}

.invalidInput {
  background: #f00;
}

.button {
  margin-top: 16px;
  border-radius: 3px;
  background: #37C210;
  border: 1px solid #29940B;
  padding: 6px 10px;
  color: #fff;
  opacity: 1;
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  transform:scale(1,1);
  margin-right: 15px;

}

.button2 {
  margin-top: 16px;
  border-radius: 3px;
  background: red;
  border: 1px solid red;
  padding: 6px 10px;
  color: #fff;
  opacity: 1;
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  transform:scale(1,1);
  margin-left: 15px;
}

.button3 {
  margin-top: 16px;
  border-radius: 3px;
  background: #ddd;
  border: 1px solid #999;
  padding: 6px 15px;
  color: #666;
  opacity: 0.7;
    transition-timing-function: ease-out;
  transition-duration: 250ms;
  transform:scale(1,1);
}

.button:hover {
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 1;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
  transform:scale(1.15,1.15);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 1;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
  transform:scale(1.15,1.15);
}

.button3:hover {
  background-color: light blue;
  opacity: 1;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
  transform:scale(1.15,1.15);

}

.lista {
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 10px;
  color: black;
  font-weight: bold;


}

.lista button {
  margin-left: 15px;
  border-radius: 3px;
  background: #666;
  border: 1px solid #eee;
  padding: 0px 3px 3px 3px;
  color: #fff;
  opacity: 0.5;
}

.lista button:hover {
  opacity: 1;
}